<header>

    <nav class="navbar navbar-expand bg-body-tertiary">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="btn btn-primary navbar-brand" href="/"><%= siteName %></a>
            </li>
        </ul>
    </nav>

</header>