<h1><%= siteName%></h1>

<h2>Postez votre message</h2>
<form method="post" action="/">
    <div class="fields">
        <div class="field">
            <label for="title">Titre du message</label>
            <input type="text" name="title" id="title" placeholder="Titre" />
        </div>
        <div class="field">
            <label for="message">Corps du message</label>
            <textarea name="message" id="message" placeholder="Message"></textarea>
        </div>
        <div class="field">
            <label for="name">Votre nom</label>
            <input type="text" name="name" id="name" placeholder="Nom"/>
        </div>
    </div>
    <ul class="actions">
        <li><input type="submit" value="Envoyer" /></li>
    </ul>
</form>

<h2>Messages</h2>

