<h1><%= siteName%></h1>

<h2>Postez votre message</h2>
<form method="POST" action="/message">
    <div class="fields">
        <div class="field">
            <label for="title">Titre du message</label>
            <input type="text" name="title" id="title" placeholder="Titre" />
        </div>
        <div class="field">
            <label for="content">Corps du message</label>
            <textarea name="content" id="content" placeholder="Message"></textarea>
        </div>
        <div class="field">
            <label for="name">Votre nom</label>
            <input type="text" name="name" id="name" placeholder="Nom"/>
        </div>
        <div class="field">
            <input type="submit" value="Envoyer" />
        </div>
    </div>
</form>

<h2>Messages</h2>

<!--<%/* post.forEach(function(message) { %>
    <div class="message">
        <h3><%= message.title %></h3>
        <p><%= message.content %></p>
        <p><%= message.name %></p>
    </div>
<% }); */%> -->